@font-face {
  font-family: "New York";
  font-display: swap;
  src: url("/portal-static/fonts/NewYorkItalic.ttf") format("truetype");
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
  font-weight: 400;
}
